name: Run linting and tests

on: 
  workflow_dispatch:  
  
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pipenv
      uses: dschep/install-pipenv-action@v1
    - name: Install dependencies
      run: |
          pipenv install --dev
    - name: Set PYTHONPATH
      run: |
          pipenv run echo "::set-env name=PYTHONPATH::home/runner/work/FindDuplicateTracks"
    - name: Test with pytest
      run: |
        pipenv run python -m pytest
